[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/ubiquity-dollar"]
	path = lib/ubiquity-dollar
	url = https://github.com/ubiquity/ubiquity-dollar
